* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

input,
select,
textarea,
button {
  outline: none !important;
}

body {
  background: #fff;
  font-family: 'Open Sans';
  font-weight: 400;
}

section {
  padding: 80px 0;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #4c76ff;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 24px;
  cursor: default;
}

.heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 25px;
  color: #062033;
  margin-bottom: 45px;
}

.heart .fa {
  margin: 0 14px;
  color: #062033;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: default;
}

.heart .fa:hover {
  color: red;
}

.heart::before,
.heart::after {
  content: "";
  width: 90px;
  height: 1px;
  background: #062033;
}

.subtitle {
  max-width: 710px;
  margin: 0 auto 70px;
  text-align: center;
  font-family: 'Lato';
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  color: #062033;
}

.logo {
  font-family: 'Lato';
  font-weight: 900;
  color: #fff;
  font-size: 21px;
  position: relative;
  z-index: 2;
}

.logo span {
  color: #4c76ff;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.bg {
  background: rgba(6, 32, 51, 0.9) !important;
}

.nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(6, 32, 51, 0.3);
  padding: 23px 0 10px;
  z-index: 999;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  max-width: 312px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu__link {
  color: #fff;
  text-transform: capitalize;
  font-family: 'Lato';
  font-weight: 100;
  font-size: 12px;
}

.nav-menu__link_active {
  position: relative;
}

.nav-menu__link_active::before {
  content: "";
  position: absolute;
  width: 100%;
  background: #4c76ff;
  height: 2px;
  top: -30px;
}

.nav-menu__btn {
  border: none;
  background: none;
  width: 30px;
  height: 12px;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  position: relative;
  display: none;
}

.nav-menu__btn span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  width: 100%;
  left: 0;
  background: #fff;
  height: 3px;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.nav-menu__btn span:nth-child(1) {
  top: 0;
}

.nav-menu__btn span:nth-child(2),
.nav-menu__btn span:nth-child(3) {
  top: 6px;
}

.nav-menu__btn span:nth-child(4) {
  top: 12px;
}

.nav-menu__btn.open span:nth-child(1),
.nav-menu__btn.open span:nth-child(4) {
  left: 50%;
  width: 0;
  top: 6px;
}

.nav-menu__btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-menu__btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header {
  padding: 294px 0 121px;
  background: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: #fff;
}

.header__title {
  font-family: 'Lato';
  font-weight: 900;
  font-size: 62px;
  margin-bottom: 15px;
  cursor: default;
}

.header__title span {
  color: #4c76ff;
}

.header__subtitle {
  font-family: 'Lato';
  font-weight: 100;
  font-size: 48px;
  margin-bottom: 25px;
  cursor: default;
}

.header__subtitle span {
  color: #4c76ff;
}

.header__text {
  font-family: 'Lato';
  font-weight: 100;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 113px;
  cursor: default;
}

.header__text::before,
.header__text::after {
  content: "";
  width: 28px;
  height: 2px;
  background: #4c76ff;
}

.header__text::before {
  margin-right: 40px;
}

.header__text::after {
  margin-left: 40px;
}

.header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-social__item {
  color: #fff;
  font-size: 25px;
  margin: 0 8px;
  opacity: 0.6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-social__item:hover {
  opacity: 1;
}

.features {
  background: #efefef;
}

.features__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.features-text {
  margin-left: 14px;
}

.features-text__title {
  font-weight: 600;
  font-size: 17px;
  color: #062033;
  margin-bottom: 19px;
}

.features-text__subtitle {
  font-size: 11px;
  color: #062033;
  line-height: 18px;
}

.mobile__subtitle {
  max-width: 782px;
  margin: 0 auto 68px;
  text-align: center;
  font-size: 15px;
  color: #282528;
  line-height: 30px;
}

.mobile-item {
  padding: 14px 8px 14px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: default;
}

.mobile-item:hover {
  background: #fefce9;
}

.mobile-text {
  margin-left: 39px;
}

.mobile-text__title {
  font-weight: 700;
  font-size: 14px;
  color: #282528;
  margin-bottom: 19px;
}

.mobile-text__subtitle {
  font-size: 11px;
  color: #282528;
  line-height: 20px;
}

.mobile-img {
  width: 100%;
}

.mobile-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.works-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 78px;
}

.works-control__item {
  background: none;
  border: none;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 14px;
  color: #062033;
  padding: 10px 18px;
  border-radius: 6px;
  margin: 0 8px;
  cursor: pointer;
}

.works-control__item_active {
  background: #4c76ff;
  color: #fff;
}

.works-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.works-gallery__item {
  width: 25%;
  position: relative;
}

.works-gallery__item:hover .works-gallery__media {
  opacity: 1;
}

.works-gallery__img {
  width: 100%;
  height: 100%;
  display: block;
}

.works-gallery__media {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(76, 118, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.team-item {
  position: relative;
  cursor: default;
}

.team-item:hover .team-item__media {
  opacity: 1;
}

.team-item__img {
  width: 100%;
  display: block;
}

.team-item__media {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(76, 118, 255, 0.95);
  padding: 20px;
  color: #fff;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.team-item__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 13px;
}

.team-item__text {
  font-size: 14px;
  line-height: 20px;
}

.team-item__link {
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
}

.team-item__social {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
}

.facts {
  background: url("../img/f_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.facts__count {
  font-weight: 600;
  font-size: 45px;
  color: #fff;
  margin: 39px 0 14px;
}

.facts__text {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

.facts .row {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.contact-adress__title {
  font-size: 19px;
  color: #062033;
  line-height: 27px;
  margin-bottom: 32px;
}

.contact-adress__item {
  font-size: 11px;
  color: #6a737b;
  line-height: 20px;
}

.contact-adress__link {
  color: #6a737b;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact-form__title {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  color: #062033;
  margin-bottom: 42px;
}

.contact-form__input,
.contact-form__text {
  width: 48%;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 17px;
  margin-bottom: 39px;
  font-size: 11px;
  color: #5b646e;
}

.contact-form__input::-webkit-input-placeholder, .contact-form__text::-webkit-input-placeholder {
  color: #5b646e;
}

.contact-form__input::-moz-placeholder, .contact-form__text::-moz-placeholder {
  color: #5b646e;
}

.contact-form__input:-ms-input-placeholder, .contact-form__text:-ms-input-placeholder {
  color: #5b646e;
}

.contact-form__input::-ms-input-placeholder, .contact-form__text::-ms-input-placeholder {
  color: #5b646e;
}

.contact-form__input::placeholder,
.contact-form__text::placeholder {
  color: #5b646e;
}

.contact-form__text {
  width: 100%;
  resize: none;
}

.contact-form__btn {
  margin-left: auto;
  background: none;
  border: none;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}

.contact-form__btn .fa {
  color: #4c76ff;
  margin-right: 5px;
}

.contact-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.contact-social__item {
  width: 25px;
  font-size: 25px;
  color: #cdd2d6;
  margin-bottom: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-social__item:hover {
  color: #062033;
}

.map {
  width: 100%;
  height: 183px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.map-wrap {
  position: relative;
}

.map-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(6, 32, 51, 0.9);
  font-size: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.footer {
  background: #010305;
  padding: 50px 0;
}

.footer .row {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.footer .logo {
  font-size: 27px;
}

.footer__text {
  font-family: 'Lato';
  font-weight: 100;
  font-size: 13px;
  color: #fff;
  line-height: 23px;
  margin-top: 25px;
}

.footer__title {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Lato';
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 39px;
  width: 100%;
}

.footer-form {
  position: relative;
}

.footer-form__input {
  width: 100%;
  height: 41px;
  border: 2px solid #fff;
  border-radius: 3px;
  background: none;
  padding-left: 10px;
  color: #fff;
}

.footer-form__btn {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  position: absolute;
  top: 12px;
  right: 14px;
}

.footer-form__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  line-height: 22px;
  margin-top: 23px;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-list {
  width: 50%;
}

.footer-list__item {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1199.98px) {
  .works {
    padding-top: 0;
  }
}

@media (max-width: 991.98px) {
  .nav-menu {
    max-width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #062033;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: none;
  }

  .nav-menu__link {
    font-size: 22px;
    padding: 10px;
    display: inline-block;
  }

  .nav-menu__link_active::before {
    display: none;
  }

  .nav-menu__btn {
    display: block;
  }

  .mobile .col-xl-4:nth-child(2) {
    display: none;
  }

  .works-gallery__item {
    width: 33.33%;
  }

  .team {
    padding-bottom: 50px;
  }

  .team .col-xl-3 {
    margin-bottom: 30px;
  }

  .footer {
    text-align: center;
  }

  .footer__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .header {
    padding-top: 200px;
  }

  .features__col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .features-text {
    margin: 15px 0 30px;
  }

  .works-gallery__item {
    width: 50%;
  }

  .facts {
    padding-bottom: 30px;
  }

  .facts .col-xl-2 {
    margin-bottom: 30px;
  }

  .contact {
    text-align: center;
  }

  .contact-form__title {
    margin-top: 30px;
  }

  .contact-form__input,
  .contact-form__text {
    width: 100%;
  }

  .contact-form__btn {
    margin-right: auto;
  }

  .contact-social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px;
  }

  .footer__col {
    margin-top: 30px;
  }
}

@media (max-width: 575.98px) {
  .works-gallery__item {
    width: 100%;
  }
}